.panel.panel-default
  .panel-body
    .col-lg-12.no-padding
      .col-lg-12.no-padding
        - if user_signed_in?
          - if is_post_user_current_user_same(job)
            %b= link_to job.job_title, edit_job_post_path(job)
          - else
            %b= link_to job.job_title, job_post_path(job)
        - else
          %b= link_to job.job_title, job_post_path(job)
      .col-lg-12.no-padding
        .label.label-default= "test"
      .col-lg-3.no-padding.fa.fa-suitcase
        %span= "test"
      .col-lg-3.no-padding.fa.fa-location-arrow
        = "job.location"
  .panel-footer
    .col-lg-3.no-padding.fa.fa-inr
      %span.fa.fa-heart.pull-left
      = "job.salary.strip"
    .col-lg-3.no-padding.glyphicon.glyphicon-user
      PostedBy
    .col-lg-3.no-padding
      Test
    .col-lg-3.no-padding
      = time_ago_in_words(job.created_at) + ' ago'