.col-lg-6.col-lg-offset-3
  %h1 New Job Post
  .panel.panel-default
    .panel-body
      = simple_form_for(@job_post, url: job_posts_path(@job_post), html: { method: :post }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :job_type_id, collection: JobType.all.map{|u| [u.job_type_name, u.id]}, include_blank: true
          = f.input :company_id, collection: Company.all.map{|u| [u.name, u.id]}, include_blank: true
          = f.input :is_company_name_hidden
          = f.input :job_description
          = f.input :is_active
          = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
        .form-inputs
          = f.simple_fields_for :job_location do |sp|
            = sp.input :street_address
            = sp.input :city
            = sp.input :state
            = sp.input :country, :as => :string
            = sp.input :zip
            = sp.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
        .form-actions
          = f.button :submit, "Save"