.col-lg-9
  .panel.panel-default
    .panel-body
      .col-lg-12.no-padding
        .col-lg-12.no-padding
          %b= @job_post.job_title.blank? ? 'Test' : @job_post.job_title
        .col-lg-12.no-padding
          = link_to @job_post.name, @job_post.website_url
        .col-lg-3.no-padding.fa.fa-suitcase
          %span= "#{@job_post.exp_required} Years"
        .col-lg-3.no-padding.fa.fa-location-arrow
          = link_to @job_post.city, root_path, title: "Web Developer Jobs in  #{@job_post.city}"
        .col-lg-12.no-padding
          %br
            %p
              - if @job_post.activities.first && is_post_user_current_user_same(@job_post)
                %p.fa.fa-check= "You already applied this job on #{@job_post.activities.first.apply_date.strftime("%e %b")}"
              - else
                = link_to "Apply", apply_job_post_path(@job_post.id), method: :post, class: 'btn btn-sm btn-primary'
    .panel-footer
      .col-lg-3.no-padding.fa.fa-inr
        %span.fa.fa-heart.pull-left
        = "job.salary.strip"
      .col-lg-3.no-padding.glyphicon.glyphicon-user
        PostedBy
      .col-lg-3.no-padding
        Test
      .col-lg-3.no-padding
        = time_ago_in_words(@job_post.created_at) + ' ago'
  .panel.panel-default
    .panel-body
      .col-lg-12.no-padding
        %p Job Description
        = @job_post.job_description