= sp.input :first_name
= sp.input :last_name
= sp.input :current_salary
= sp.input :is_annualy_monthly
= sp.input :currency
= sp.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
